@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #202020;
    color: #FFFFFF;
}

.container {
    width: 55.5vmin;
    height: 91.5vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background: #000000;
    border: solid 0.4em #FFFFFF;
}

.detalhes-jogo {
    color: #B8C6DC;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;  
}

.detalhes-jogo span{
    padding: 0.1rem 2rem;
}

.tela-jogo {
    height: 100%;
    width: 100%;
    display: grid;
    background: #000000;
    grid-template: repeat(31, 1fr) / repeat(20, 1fr);
}

.tela-jogo .food {
    background: #FF003D;
}

.tela-jogo .head {
    background: #60CBFF;
}

.fim-jogo {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    background: #000000;
    color: #fff;
}

.fim-jogo button {
    padding: 5px 20px;
    background: #000000;
    cursor: pointer;
    margin: 25px;
    font-size: 1.3rem;
    background: #60CBFF;
    border-radius: 5px;
    border: none;
    outline: none;
}

.controles {
    display: none;
    justify-content: space-between;
}

.controles i {
    padding: 20px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #B8C6DC;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171b26;
}


@media screen and (max-width: 720px) {
    .container {
        width: 80vmin;
        height: 100vmin;

    }

    .detalhes-jogo {
        font-size: 1.5rem;
        padding: 15px 27px;
    }

    .controles {
        display: flex;
    }

    .controles i {
        padding: 15px 0;
        font-size: 1rem;
    }
}